@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto:400,700);

.container {
  font-family: 'Roboto', sans-serif;
}

.centrar {
  text-align: center;
  text-transform: uppercase;
}

.boton-viejo {
  width: 200px;
  background-color: #8e44ad;
  border: solid 5px #3498db;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: whitesmoke;
  /*reglas para el a*/
  text-decoration: none;
  display: block;

  /*no tiene que ver con los botones*/

  margin-top: 5px;
}

.boton-nuevo {
  width: 100%;
  background-color: #f1c40f;
  text-align: center;
  font-size: 1.2em;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  display: block;
  height: 30px;
  padding: 20px;
  border: solid 4px #f1c40f;
  margin-top: 5px;

  /*TRANSICIONES*/
  transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
}
.boton-nuevo:hover{
  background-color: transparent;
  color: #f1c40f;
}

.azul {
  background-color: transparent;
  border: 4px solid #2980b9;
  color: #2980b9;
}

.azul:hover {
  background-color: #2980b9;
  color: whitesmoke;
}

.verde {
  background-color: #27ae60;
  border: 4px solid #27ae60;
  color: whitesmoke;
}
.verde:hover{
  background-color: transparent;
  color: #27ae60;
}

.naranja {
  background-color: transparent;
  border: 4px solid #d35400;
  color: #d35400;
}

.naranja:hover{
  background-color: #d35400;
  color: whitesmoke;
}

.sprite {
  width: 84px;
  height: 84px;
  display: block;
  text-decoration: none;
  color: transparent;
  background-image: url(../img/mini-social-icons.png);
  transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;

}

.sprite.flickr{background-position: -84px -84px;}
.sprite.flickr:hover{background-position: -84px -168px;}
.sprite.flickr:active{background-position: -84px -252px;}
