.contenedor {
  width: 960px;
  margin: 0 auto;
}

.caja {
  /*Propiedades box*/
  width: 230px;
  height: 230px;
  background-color: #0ac311;
  display: inline-block;
  padding: 20px;
  border: 10px solid #e67e22;

  /*Propiedades de Texto*/
  color: whitesmoke;
  font-size: 80px;
  font-family: arial;
  text-align: center;
  margin-top: 20px;
  line-height: 170px;

  /*Propiedades de css3*/
  box-sizing: border-box;
  border-radius: 115px;
}

/*Caja con doble div*/

.borde {
  width: 230px;
  height: 230px;
  display: inline-block;
  margin-top: 20px;
}

.box {
  color: whitesmoke;
  font-size: 80px;
  text-align: center;
  font-family: arial;
  background-color: #d35400;
  line-height: 170px;
  padding: 20px;
  border: 10px dotted #2c3e50;
  border-radius: 50%;
}

.cajita {
  width: 240px;
  height: 240px;
  display: inline-block;
  background-color: #3498db;
  color: gray;
  margin-top: 20px;
  font-size: 80px;
  text-align: center;
  line-height: 180px;
  border: 10px solid #16a085;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.contenedor-triangulos{
  clear: both;
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 250px solid red;
  margin-bottom: 20px;
  float: left;
}

#t1 {
  border-bottom: 250px solid #2980b9;
}

#t2 {
  border-bottom: 250px solid #f1c40f;
}

#t1, #t2, #t3{
  color: transparent;
}
