@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto:400,700);

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
  font-family: 'Open Sans', sans-serif;
  width: 960px;
  margin: 0 auto;
}

.mi-primera-clase {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  color: #34495e;
  text-align: justify;
  border: 5px solid #e67e22;
  border-bottom: 5px dotted #16a085;
}

#mi-primer-id{
  background-color: #3498db;
}

.contenedor-box{
  text-align: center;
}

.box {
  width: 300px;
  height: 200px;
  background-color: #34495e;
  color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
  float:left;
  margin-left: 10px;
}

.verde {
  background-color: #27ae60;
}
