@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto:400,700);

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
  font-family: 'Open Sans', sans-serif;
}

.imagen-responsiva {
  max-width: 100%;
}

h1{
  font-size: 50px;
  color: #34495e;
}

h2, h3,h4 {
  color: #34495e;
}

.imagen-redonda{
  border-radius: 50%;
}
.centrar {
  text-align: center;
}
