@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto:400,700);

/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  width: 960px;
  margin: 0 auto;
  margin-top: -20px;
}

.header-top{
  text-align: center;
  background-color: white;
  padding: 20px 40px;
}

h1 {
  font-size: 50px;
}

.header-top img {
  width: 300px;
}

.header-top p{
  text-align: justify;
  font-style: italic;
}

#textos {
  background-color: #2980b9;
}

.texto {
  width: 280px;
  text-align: justify;
  font-size: 12px;
  padding: 0 18px;
  display: inline-block;
}

#pie {
  background-image: url(../img/bg-negro.png);
  /*background-repeat: ;*/
  height: 50px;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #d35400;
  border: 2px solid #d35400;
  width: 200px;
  display: block;
}
